<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="${title}"></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"  integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body class="d-flex h-100 text-center text-white bg-dark">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header th:insert="blocks/header :: header"></header>
<h1></h1> <h1></h1> <h1></h1> <h1></h1>
  <h1></h1>
  <main class="px-3">
    <h1>Football Club</h1>
    <h1></h1> <h1></h1>
    <p class="lead">Цей клуб був створений у 2012 році</p>
    <p class="lead">Клуб брав участь у 2-х турнірах, що він виграв. До складу команди входять 9 осіб, кожен із них грає на найвищому рівні. Команада є аматорським клубом.</p>
    <img src="https://s5o.ru/storage/simple/ru/edt/a8/ab/69/5a/ruec949ded7dd.jpg" alt="">
  </main>
  <footer th:insert="blocks/footer :: footer"></footer>
</div>
</body>
</html>