<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${table}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"  integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body class="d-flex h-100 text-center text-white bg-dark">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header th:insert="blocks/header :: header"></header>
    <h1></h1> <h1></h1> <h1></h1> <h1></h1>
    <h1></h1>
    <main class="px-3">
        <h1>Новини команди</h1>
        <div class="album py-5 bg-dark" >
        <div class="container" >
                <h1>Травма провідного гравця команди</h1>
                <h2>12.03.2021</h2>
                <p>У недавньому матчі наш гравець отримав дуже серйозну травму при стику з гравцем суперника. Лікарі прогнозують відновлення протягом 2-х тижнів, але це не точна інформація і все залежить від гравця та його фізичного стану, сподіваємося на краще. Всім дякую за теплі слова на адресу гравця. Усі медики надаватимуть йому необхідну допомогу. Команда засмучена втратою провідного гравця, але попереду ще важливі матчі і не можна засмучуватися раніше, а треба готуватися до майбутніх матчів.</p>
            <img src="https://ss.sport-express.ru/userfiles/materials/171/1714950/large.jpg" alt="">
            <h1>Гостьова перемога</h1>
            <h2>11.03.2021</h2>
            <p>В останній зустрічі наша команда обіграла комаду суперників з рахунком 6:0, тим самим посівши 1 місце у турнірній таблиці, маючи відрив 2 очка від попереднього суперника. Команда показала дуже впевнену гру, тренер висловив лише позитивні емоції після гри, гравці здобули 1 день відпочинку. Попереду команду ще чекає весняний турнір на якому гравці покажуть свій полин рівень гри і підготовленості до майбутніх випробувань.</p>
            <img src="https://static.ua-football.com/img/upload/20/285540.jpeg" alt="">

        </div>
        </div>
    </main>

    <header th:insert="blocks/footer :: footer"></header>
</div>
</body>
</html>